<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Família Correnteira</title>
    <link rel="shortcut icon" type="image/png" href="../../static/img/main_icon.png"/>
    <link rel="stylesheet" href="../../static/css/base.css"/>

    <style type="text/css">
    .circle {
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      position: absolute;
      border-radius: 15px;
    }
    </style>
</head>


<body>
  <div class="top-line">

    <div class="alert-box">
      <h2>SITE EM CONSTRUÇÃO!</h2>
    </div>

  </div>


  <div class="content">

    <div class="logo-box">
      <div class="logo">

      </div>
    </div>

    <div class="message-box">
      <p>Enquanto trabalhamos arduamente em nosso site,<br>você pode ficar com essa corrente: </p>
    </div>

    <div class="corrente-box">

    </div>

  </div>

  <div class="footer-box">
    <div class="footer">
      <p><i>Copyright © 2018 by <b>Família&nbsp;Correnteira</b></i></p>
    </div>
  </div>
    <!--div class="logo">
        <img src="../../static/img/main_icon.png" alt="Logo Família" width=50px height=50px/>
    </div>

    <div class="info">
        <h1>Família Correnteira</h1>
        <h2>Site em Construção!</h2>
    </div-->











    <!--script type="text/javascript">
  		document.onmousemove = animateCircles;
  		var colors = ['#026810','#5FD41F','#FDD719'];
  		function animateCircles (event) {
  			let circle = document.createElement("div");
  			circle.setAttribute("class", "circle");
  			document.body.appendChild(circle);
  			circle.style.left = event.clientX + 'px';
  			circle.style.top = event.clientY + 'px';
  			var color = colors[Math.floor(Math.random() * colors.length)];
  			circle.style.borderColor = color;
  			circle.style.transition = "all 0.5s linear 0s";
  			circle.style.left = circle.offsetLeft - 20 + 'px';
  			circle.style.top = circle.offsetTop - 20 + 'px';
  			circle.style.width = "50px";
  			circle.style.height = "50px";
  			circle.style.borderWidth = "5px";
  			circle.style.opacity = 1;
  			setTimeout(function() {
                  circle.remove();
              }, 500);
  		}
		</script-->

</body>
