<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Família Correnteira</title>
    <link rel="shortcut icon" type="image/png" href="../../static/img/main_icon.png"/>
    <link rel="stylesheet" href="../../static/css/base.css"/>
</head>


<body>
  <div class="top-line">

    <div class="alert-box">
      <h2>SITE EM CONSTRUÇÃO!</h2>
    </div>

  </div>


  <div class="content">

    <div class="logo-box">
      <div class="logo">

      </div>
    </div>

    <div class="corrente-box">

    </div>

  </div>

  <div class="footer-box">

  </div>
    <!--div class="logo">
        <img src="../../static/img/main_icon.png" alt="Logo Família" width=50px height=50px/>
    </div>

    <div class="info">
        <h1>Família Correnteira</h1>
        <h2>Site em Construção!</h2>
    </div-->
</body>
