<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Família Correnteira</title>
    <link rel="shortcut icon" type="image/png" href="../../static/img/main_on.png"/>
    <link rel="stylesheet" href="../../static/css/base.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <style type="text/css">
    .circle {
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      position: absolute;
      border-radius: 15px;
    }
    </style>
</head>


<body>
  <div class="top-line">

    <div class="alert-box">
      <h2>SITE EM CONSTRUÇÃO!</h2>
    </div>

  </div>


  <div class="content">

    <div class="logo-box">
      <div class="logo">

      </div>
    </div>

    <div class="message-box">
      <p>Enquanto trabalhamos arduamente em nosso site,<br>você pode ficar com essa corrente: </p>
    </div>

    <div class="corrente-box">
      <p id="corrente">{{ corrente.corrente }}</p>

      <div class="button-box">
        <button type="button" onclick="copiarCorrente('#corrente')" class="btn btn-success">Copiar!</button>
      </div>
    </div>

  </div>

  <div class="footer-box">
    <div class="footer">
      <p><i>Copyright © 2018 by <b>Família&nbsp;Correnteira</b></i></p>
    </div>
  </div>
    <!--div class="logo">
        <img src="../../static/img/main_icon.png" alt="Logo Família" width=50px height=50px/>
    </div>

    <div class="info">
        <h1>Família Correnteira</h1>
        <h2>Site em Construção!</h2>
    </div-->











    <!--script type="text/javascript">
  		document.onmousemove = animateCircles;
  		var colors = ['#026810','#5FD41F','#FDD719'];
  		function animateCircles (event) {
  			let circle = document.createElement("div");
  			circle.setAttribute("class", "circle");
  			document.body.appendChild(circle);
  			circle.style.left = event.clientX + 'px';
  			circle.style.top = event.clientY + 'px';
  			var color = colors[Math.floor(Math.random() * colors.length)];
  			circle.style.borderColor = color;
  			circle.style.transition = "all 0.5s linear 0s";
  			circle.style.left = circle.offsetLeft - 20 + 'px';
  			circle.style.top = circle.offsetTop - 20 + 'px';
  			circle.style.width = "50px";
  			circle.style.height = "50px";
  			circle.style.borderWidth = "5px";
  			circle.style.opacity = 1;
  			setTimeout(function() {
                  circle.remove();
              }, 500);
  		}
		</script-->



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

  <script>
  function copiarCorrente(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
    alert("Corrente copiada, não esqueça de repassar!")
  }
  </script>

</body>
