* {
  font-family: Helvetica;
}

body {
	margin: 0;
	padding: 0;
}

.content {
  position: relative;
  background-image: url("../img/back.png");
  background-size: 0.7%;
  top: 20px;
  padding: 0;
  padding-bottom: 60px;
  height: 600px;
}

.top-line {
  position: absolute;
  top: 0px;
  margin-top: 0;
  margin: 0;
  background-color: #026810;
  width: 100%;
  height: 50px;
}

.alert-box {
  padding: 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;

}

.alert-box h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  letter-spacing: 5px;
  text-decoration: none;
}

.logo-box {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.logo {
  background-image: url("../img/main_icon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 360px;
}

.corrente-box {
  background-color: #fff;
  margin: auto;
  width: 50%;
  height: 500px;
  border-style: ridge;
  border-width: 30px;
  border-color: #026810;
}

.footer-box {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #026810;
  width: 100%;
  height: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.footer p {
  text-align: center;
  font-style: normal;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 760px) {
  .alert-box h2 {
    letter-spacing: 0px;
  }

  .logo {
    background-image: url("../img/main_icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 360px;
  }

}

@media screen and (max-width: 565px) {
  .top-line {
    height: 75px;
  }

  .content {
    top: 45px;
  }

  .alert-box h2 {
    letter-spacing: 0px;
  }

  .logo {
    background-image: url("../img/main_icon.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 360px;
  }

}
